@page "{id}"
@using Microsoft.AspNetCore.Authorization
@using pmdi.Model;
@model pmdi.Pages.GetInfoPatientModel
@attribute [AllowAnonymous]

@{
    ViewData["Title"] = "Patient info";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<section class="container">
    <section class="features style2 section pt-160">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h3 class="wow zoomIn" data-wow-delay=".2s">Information</h3>
                    <p class="wow fadeInUp" data-wow-delay=".6s">Patient's medical tests</p>
                </div>
            </div>
        </div>
        <div class="single-feature">
            <div class="row">
                <div class="col-3 col-sm-3">
                    <div class="avatar-md mb-1 d-flex justify-content-center">
                        @if (@Model.dataPage.Patient.Sex == PatientSex.male)
                        {
                            <img src="~/images/users/man.png" alt="" height="48" class="rounded">
                        }
                        else if (@Model.dataPage.Patient.Sex == PatientSex.female)
                        {
                            <img src="~/images/users/woman.png" alt="" height="48" class="rounded">
                        }
                        else
                        {
                            <img src="~/images/users/other.png" alt="" height="48" class="rounded">
                        }
                    </div>
                    <h6 class="text-sm-center">@Model.dataPage.Patient.FirstName @Model.dataPage.Patient.LastName</h6>
                    <p class="text-sm-center">@Model.dataPage.UserEmail</p>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <h6 class="text-sm-center">@Model.dataPage.Patient.DOB.ToString("dd MMMM yyyy", @Model.dataPage.Culture) (@Model.dataPage.Patient.Age y.o.)</h6>
                            <p class="text-muted mb-1 text-sm-center">DOB</p>
                        </div>
                        <div class="col">
                            <h6 class="text-sm-center">@Model.dataPage.Patient.Adress</h6>
                            <p class="text-muted mb-1 text-sm-center">Adress</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h6 class="text-sm-center">@Model.dataPage.UserPhone</h6>
                            <p class="text-muted mb-1 text-sm-center">Phone namber</p>
                        </div>
                        <div class="col">
                            <h6 class="text-sm-center">@Model.dataPage.Patient.Weight kg.</h6>
                            <p class="text-muted mb-1 text-sm-center">Weight</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="row">
        <div class="col-xl-6 mb-4">
            <div class="card shadow overflow-hidden">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h6 class="text-primary fw-bold m-0">Vital signs of patients</h6>
                    <div class="dropdown no-arrow">
                        <button class="btn btn-link btn-sm dropdown-toggle" aria-expanded="false" data-bs-toogle="dropdown" type="button">
                            <i class="fas fa-ellipsis-v text-gray-400"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body pt-0">
                    <div class="row">
                        <div class="col">
                            <h6 class="font-size-15 text-sm-center">Date</h6>
                        </div>
                        <div class="col">
                            <h6 class="font-size-15 mb-0 text-sm-center">Blud pressure</h6>
                        </div>
                        <div class="col">
                            <h6 class="font-size-15 mb-0 text-sm-center">Pulse</h6>
                        </div>
                        <div class="col">
                            <h6 class="font-size-15 mb-0 text-sm-center">Temp.</h6>
                        </div>
                    </div>
                    @foreach (var itemVital in Model.dataPage.VitalSigns)
                    {
                        <div class="row">
                            <div class="col">
                                <p class="text-muted mb-0 text-sm-center">@itemVital.MeasurementDate.ToString("dd MMMM yyyy", @Model.dataPage.Culture)</p>
                            </div>
                            <div class="col">
                                <p class="text-muted mb-0 text-sm-center">@itemVital.BludPressureUpper/@itemVital.BludPressureLower</p>
                            </div>
                            <div class="col">
                                <p class="text-muted mb-0 text-sm-center">@itemVital.Pulse</p>
                            </div>
                            <div class="col">
                                <p class="text-muted mb-0 text-sm-center">@itemVital.Temp &#8451;</p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6 mb-4">
            <div class="card shadow overflow-hidden">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h6 class="text-primary fw-bold m-0">Medication regimens</h6>
                    <div class="dropdown no-arrow">
                        <button class="btn btn-link btn-sm dropdown-toggle" aria-expanded="false" data-bs-toogle="dropdown" type="button">
                            <i class="fas fa-ellipsis-v text-gray-400"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body pt-0">
                    <div class="row">
                        <div class="col">
                            <h6 class="font-size-10 text-sm-center">Name of drug</h6>
                        </div>
                        <div class="col">
                            <h6 class="font-size-10 mb-0 text-sm-center">Daily dose drug</h6>
                        </div>
                        <div class="col">
                            <h6 class="font-size-10 mb-0 text-sm-center">In the morning</h6>
                        </div>
                        <div class="col">
                            <h6 class="font-size-10 mb-0 text-sm-center">At lunch</h6>
                        </div>
                        <div class="col">
                            <h6 class="font-size-10 mb-0 text-sm-center">In the evening</h6>
                        </div>
                    </div>
                    @foreach (var itemMed in Model.dataPage.Medicines)
                    {
                        <div class="row mb-1 bg-light">
                            <div class="col">
                                <p class="text-muted mb-0 text-sm-left">@itemMed.Drugs.Name_en</p>
                            </div>
                            <div class="col">
                                <p class="text-muted mb-0 text-sm-center">
                                    @if (@itemMed.DosageDaily == 0)
                                    {
                                        @("-")
                                    }
                                    else
                                    {
                                        @itemMed.DosageDaily.ToString("0.#####") @:&nbsp; @itemMed.UnitDosage.Name_en
                                    }
                                </p>
                            </div>
                            <div class="col">
                                <p class="text-muted mb-0 text-sm-center">
                                    @if (@itemMed.DosageEvening == 0)
                                    {
                                        @("-")
                                    }
                                    else
                                    {
                                        @itemMed.DosageEvening.ToString("0.#####") @:&nbsp; @itemMed.UnitDosage.Name_en
                                    }
                                </p>
                            </div>
                            <div class="col">
                                <p class="text-muted mb-0 text-sm-center">
                                    @if (@itemMed.DosageLunch == 0)
                                    {
                                        @("-")
                                    }
                                    else
                                    {
                                        @itemMed.DosageLunch.ToString("0.#####") @:&nbsp; @itemMed.UnitDosage.Name_en
                                    }
                            </div>
                            <div class="col">
                                <p class="text-muted mb-0 text-sm-center">
                                    @if (@itemMed.DosageMorning == 0)
                                    {
                                        @("-")
                                    }
                                    else
                                    {
                                        @itemMed.DosageMorning.ToString("0.#####") @:&nbsp; @itemMed.UnitDosage.Name_en
                                    }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
